faster-whisper
coqui-tts
deepspeed==0.16.8
livekit-agents
livekit-plugins-turn-detector
livekit-plugins-noise-cancellation
livekit-plugins-silero
google-generativeai
python-dotenv
huggingface-hub
livekit-plugins-openai
livekit-plugins-elevenlabs
transformers==4.51.3