faster-whisper
coqui-tts
deepspeed==0.16.8
livekit-agents
livekit-plugins-turn-detector
livekit-plugins-noise-cancellation
livekit-plugins-silero
python-dotenv
huggingface-hub
livekit-plugins-openai
transformers==4.51.3
torch==2.6.0
torchvision==0.21.0 
torchaudio==2.6.0 
